<h1>Créer votre Compte !</h1>
<div>
  <div>
    <a class="btn" routerLink="/articles" routerLinkActive="active">Revenir à la liste d'articles<i
      class="fas fa-undo-alt"></i></a>
  </div>
  <div class="form_container">
    <div>
      <label for="pseudo">Pseudo : </label>
      <input id="pseudo" name="pseudo" type="text" [(ngModel)]="pseudo"required>
    </div>
    <div>
      <label for="email">E-mail : </label>
      <input id="email" name="email" type="email" [(ngModel)]="email"  (ngModelChange)="validEmail(email)"  required>
    </div>
    <div *ngIf="isemailCorrect === false">
      <p>l'adresse mail n'est pas conforme</p>
    </div>
    <div>
      <label for="password">Mot de passe : </label>
      <input id="password" name="password" type="password" [(ngModel)]="password" required>
    </div>
    <div>
      <label for="passwordTest">Verification du mot de passe : </label>
      <input id="passwordTest" name="passwordTest" type="password" [(ngModel)]="passwordTest" required>
    </div>
    <div>
      <p *ngIf="password != passwordTest && passwordTest != null" class="alert-red"><i class="fas fa-exclamation-circle"></i> Attention Vos mots de passe sont différents </p>
      <button  class="btn-submit" type="submit" (click)="enregistrer()" *ngIf="password != null && password === passwordTest
       && isemailCorrect != false && pseudo != null" routerLink="/articles" routerLinkActive="active">Valider</button>
    </div>
  </div>
</div>
