<div>
  <a  class="btn" routerLink="/articles" routerLinkActive="active">Revenir à la liste d'articles<i
    class="fas fa-undo-alt"></i></a>
</div>
<div class="liste_container">
  <h1>{{article.titre}}</h1>
  <a  class="edit"
     routerLink="/edit-articles/{{article.id}}" routerLinkActive="active"><i class="far fa-edit"></i></a>
</div>
<div class="contenu-article">
  <div>
    <p class="resume"> Statut de l'article : {{article.statutArticles}}</p>
    <button (click)="publierArticle()" *ngIf="article.statutArticles === 'draft'">Publier</button>
  </div>
  <p class="contenu">Ecrit par {{utilisateur.pseudo}} </p>

</div>
<div class="contenu-article">
  <p class="resume">{{article.resume}}</p>
  <p class="contenu">{{article.contenu}}</p>
</div>

