.btn-list {
  background-color: #b11e3f;
  padding: 10px;
  color: white;
  text-align: center;
}

.article_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  border: solid 0.5px #b11e3f;
  min-width: 500px;
}

.article_container p {
  margin: 10px;
}

.liste_container{
  display: flex;
  flex-direction: row;;
  justify-content: center;
  align-items: baseline;
}


.fa-plus {
  color: #b11e3f;
  margin: 0 5px;

}

i {
  margin: 0 5px;
  color: #b11e3f;

}

.top-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenu {
  margin: 30px 0;
}

.resume{
  margin: 5px 0;
  font-style: italic;
  color: #b11e3f;


}

.contenu-article div{
  display: flex;
  flex-direction: row;
}


.contenu-article div button{
  margin: 0 10px ;
  background-color: #b11e3f;
  color: white;
}
