.btn-list {
  background-color: #b11e3f;
  padding: 10px;
  color: white;
  text-align: center;
}

.article_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  border: solid 0.5px #b11e3f;
  min-width: 500px;
}

.article_container p {
  margin: 10px;
}

.fa-plus {
  color: #b11e3f;
  margin: 0 5px;

}

i {
  margin: 0 5px;
  color: #b11e3f;
}

.top-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
