<h1>Liste des articles</h1>
<div>
  <div>
    <a  class="btn" routerLink="/create-articles" routerLinkActive="active">Créer votre article <i
      class="fas fa-plus"></i></a>
  </div>
  <div class="liste_container">
    <div class="article_container" *ngFor="let article of articleListe">
      <div class="top-article">
        <h2>{{article.titre}}</h2>
      </div>
      <p >{{article.resume}}</p>
      <a class="btn-list" routerLink="/article-detail/{{article.id}}" routerLinkActive="active">voir l'article complet</a>
    </div>
  </div>
</div>
