.login_container{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 46, 85, 0.26);
  padding: 50px;
  box-shadow: 1px 0.5px 5px rgba(51, 51, 51, 0.85);
}
.login_container div{
  margin: 5px 0;
}

label{
  margin : 0 5px;
  color: #b11e3f;
}

.alert-red{
  color:red;
}
