<div class="login_container">
  <div>
    <label  for="email">Votre email</label>
    <input [(ngModel)]="email"  id="email" type="email">
  </div>
  <div>
    <label  for="password">Votre mot de passe</label>
    <input [(ngModel)]="password" id="password" type="password">
  </div>
  <button (click)="logger()">Se connecter</button>
  <p *ngIf="islog === false" (load)="toggle()"class="alert-red">Vos identifiants ne sont pas valide</p>
</div>
