<h1>Editer votre article</h1>
<div>
  <div>
    <a class="btn" routerLink="/articles" routerLinkActive="active">Revenir à la liste d'articles<i
      class="fas fa-undo-alt"></i></a>
  </div>
  <div class="form_container">
    <div *ngIf="article.statutArticles === 'draft' " (load)="toggle()">
      <label  for="titre">Titre : </label>
      <input id="titre" name="titre" type="text"  value="{{article.titre}}" [(ngModel)]="titre" >
    </div>
    <div *ngIf="article.statutArticles === 'draft' " (load)="toggle()">
      <label for="resume">Résumé : </label>
      <textarea id="resume" name="résumé" rows="5" cols="33" [(ngModel)]="resume" (ngModelChange)="resume"
                placeholder=" Votre résumé ne doit pas dépasser 50 caractéres" value="{{article.resume}}"></textarea>
    </div>
    <div *ngIf="article.statutArticles === 'draft' " (load)="toggle()">
      <p *ngIf="resume.length > 50" class="alert-red">Attention vous avez dépassé les 50 caractéres</p>
    </div>
    <div *ngIf="article.statutArticles === 'draft' " (load)="toggle()" >
      <p class="alert-green" *ngIf="resume.length <= 50">Il vous reste {{50 - resume.length }} caractéres</p>
    </div>
    <div>
      <label for="contenu">Contenu : </label>
      <textarea id="contenu" name="contenu" rows="5" cols="33" value="{{article.contenu}}"[(ngModel)]="contenu"></textarea>
    </div>
    <div>
      <button  class="btn-submit" type="submit" (click)="enregistrer()" *ngIf="resume.length <= 50" routerLink="/articles" routerLinkActive="active">Valider</button>
    </div>
  </div>
</div>
