.form_container{
  display: flex;
  flex-direction: column;
  color: #b11e3f;
  margin: 40px 0;
}

.form_container div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

label{
  margin : 0 5px;
}

.btn-submit{
  padding: 10px 50px;
  background-color: #b11e3f;
  color: white;
}

.alert-green{
  color:lime;
}

.alert-red{
  color:red;
}
