:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  color : rgba(177,30,63,1);
  text-align: center;

}
h1{
  margin-top: 30px;
  margin-bottom: 50px ;
}

p {
  margin: 0;
  text-align: center;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: rgba(177, 30, 63, 0);
  color: #b11e3f;
  box-shadow: 0px 3px 12px -9px rgba(177,30,63,1);
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
  width: 60px;
}


.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}


.btn{
  color:#b11e3f;
  margin : 0 10px;

}

a,
a:visited,
a:hover {
  color: rgb(255, 141, 0);
  text-decoration: none;
}

a:hover {
  color: #ff8d00;
}



footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}


