<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="https://zeval.zenika.com/assets/logo-zenika.png" alt="logo-zenika">
  <a class="btn" routerLink="/articles" routerLinkActive="active">Articles</a>
  <a class="btn" routerLink="/create-utilisateur" routerLinkActive="active">Création d'un compte</a>
  <a class="btn"  routerLink="/login" routerLinkActive="active">Login</a>

</div>

<div class="content" role="main">
  <router-outlet ></router-outlet>
</div>

